.container {
  height: 700px;
  width: 80%;
  margin: 200px auto;
  background-color: black;
  box-shadow: 0 6px 20px rgb(0 0 0 / 0.2);
  column-gap: 15px;
  row-gap: 10px;
  display: grid;
  grid-template-areas:
    "a a c"
    "b b c";
}

.box {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

.first {
  grid-area: a;
}

.second {
  grid-area: b;
}

.third {
  grid-area: c;
}
